/* General specifications */ 

body {
    margin: 0;
    padding: 0;
}

/* Header specifications */ 

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#logo-container {
    width: 25%;
}

#logo {
    width: 100%;
}

/* Start page specifications */ 

h1, h2, #instructions p {
    text-align: center;
    font-size: clamp(1rem, 2vw, 2rem);
}

#instructions {
    display: block;
}

#instructions p {
    margin: 5% auto;
    width: 70%;
}

#play {
    background-color: #00eb90;
    color: black;
    border: 1px solid black;
    padding: 2% 5%;
    display: block;
    margin: 5% auto;
    border-radius: 10px;
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 2rem);
}

/* gamearea specifications */ 

#gamearea {
    display: none;
}
