/* General specifications */ 
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Hind&display=swap');
/* font-family: 'Cardo', serif; (Used for all headings and the quesitons)
font-family: 'Hind', sans-serif; (Used for everything else)*/

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-size: clamp(0.8rem, 1vw, 3rem);
    background-color: black;
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
    color: white;
}

main {
    display: flex;
    width: 100vw;
    height: 90vh;
    flex-direction: column;
}

/* Header specifications */ 

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex: 1 1 10%;
}

#logo-container {
    width: 20%;
}

#logo {
    width: 100%;
    max-width: 300px;
}

/* Start page specifications */ 

h1, h2, #instructions p {
    text-align: center;
    margin: 1% auto;
}

h1, h2, #question {
    font-family: 'Cardo', serif;
}

#instructions {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: auto;
} 

#instructions p {
    margin: 2% auto;
    width: 90%;
}

#play {
    background-color: #00eb90;
    color: black;
    width: 30%;
    border: 1px solid black;
    padding: 2% 5%;
    display: block;
    margin: 5% auto;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}

/* gamearea specifications */ 

#gamearea {
    display: none;
    flex-direction: column;
    border: 2px solid #b81256;
    margin: 0 5%;
    flex: 1 1 90%;
    height: 70%;
    gap: 1%;
    padding: 2%;
}

#results{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

#score, #attempts {
    font-weight: bold;
}

#question-container {
    display: flex;
    flex-direction: column;
    
}

#question {
    text-align: center;
    margin: 2%;
    font-weight: bold;
}

#answers {
    margin: 5% auto;
    width: 90%;
    display: flex; 
    flex-direction: column;
    gap: 20px;
}

.options {
    border: 2px solid #357785;
    text-align: center;
    padding: 1%;
}

#congratulation {
    color:#00eb90;
}

#risk-container {
    display: none; 
}

#risk {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

#risk-question {
    flex: 1 0 100%;
    text-align: center;
}

#yes, #no {
    flex: 1 0 25%;
    border: 1px solid #357785;
    padding: 2%;
    margin: 2%;
    text-align: center;
}

#yes {
    background-color: #00eb90;
}

#no {
    background-color: #ed403b;
}

@media (max-width:768px){
    #instructions p {
        width: 95%;
    }

    #answers {
        width: 90%;
    }

    #play {
        width: 50%;
    }

    #gamearea {
        height: 80%;
    }

    #results {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #score-overview, #attempts-overview {
        flex: 1 0 100%;
        text-align: center;
    }

}

@media (orientation: portrait){
    #gamearea{
        gap: 10%;
    }

    /*body {
        font-size: clamp(0.8rem, 1vw, 2rem);
    }*/

    #logo-container {
        width: 50%;
    }
}

@media (orientation: landscape){
    /*body {
        font-size: clamp(0.8rem, 2vw, 2rem);
    }*/
}