/* General specifications */ 
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Hind&display=swap');
/* font-family: 'Cardo', serif; (Used for all headings and the quesitons)
font-family: 'Hind', sans-serif; (Used for everything else)*/



body {
    margin: 0;
    padding: 0;
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    background-color: rgba(18, 156, 184, 0.3);
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
}

/* Header specifications */ 

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#logo-container {
    width: 25%;
}

#logo {
    width: 100%;
}

/* Start page specifications */ 

h1, h2, #instructions p {
    text-align: center;
}

h1, h2, #question {
    font-family: 'Cardo', serif;
}

#instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: auto;
} 

#instructions p {
    margin: 2% auto;
    width: 70%;
}

#play {
    background-color: #00eb90;
    color: black;
    border: 1px solid black;
    padding: 2% 5%;
    display: block;
    margin: 5% auto;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}

/* gamearea specifications */ 

#gamearea {
    display: none;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #129cb8;
    width: 70%;
    height: 80vh;
    margin: 0 auto;
}

#results{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    margin: 2%;
}

#score, #attempts {
    font-weight: bold;
}

#question {
    text-align: center;
    margin: 5%;
}

#answers {
    margin: 5% auto;
    width: 70%;
    display: flex; 
    flex-direction: column;
    gap: 20px;
}

.options {
    border: 2px solid #357785;
    text-align: center;
    padding: 2% 5%;    
}

#congratulation {
    color:#00eb90;
}

#risk-container {
    display: none; 
}

#risk {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

#risk-question {
    flex: 1 0 100%;
    text-align: center;
}

#yes, #no {
    flex: 1 0 25%;
    border: 1px solid #357785;
    padding: 2%;
    margin: 2%;
    text-align: center;
}

#yes {
    background-color: #00eb90;
}

#no {
    background-color: #ed403b;
}

@media (max-width:1020px){
    main {
        /* display:flex;
        flex-direction: column;
        align-items: center; */
        width: 100%;
        height: 80vh;
    }

    header {
        margin-bottom: 5%;
    }

    #logo-container {
        width: 35%;
    }

    #instructions p {
        width: 95%;
    }

    #gamearea {
        width: 90%;
    }

    #results {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #score-overview, #attempts-overview {
        flex: 1 0 100%;
        text-align: center;
    }

}